* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: $dm-font;
}

body {
  margin: 0;
  padding: 0;

  line-height: 28px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
}

span {
  display: inline-block;
}

.splt-txt {
  span {
    color: unset;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

figure {
  margin: 0;
}

br {
  @include breakpoint(max-xxl) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 1px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: #a8a8a8;
  }
}

::placeholder {
  color: var(--span);
  font-size: 16px;
}
// typography area end here ***

.border-none {
  border: none !important;
}

.text-justify {
  text-align: justify;
}

.image {
  img {
    width: 100%;
  }
}
.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.transition {
  transition: var(--transition);
}

.overlay {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.nice-select {
  width: 100%;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;

  .list {
    width: 100%;
  }
}
// Custom class area end here ***
