* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: $dm-font;
}

body {
  margin: 0;
  padding: 0;

  line-height: 28px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
}

h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28px;
}

span {
  display: inline-block;
}

.splt-txt {
  span {
    color: unset;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

figure {
  margin: 0;
}

br {
  @include breakpoint(max-xxl) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border: 1px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: #a8a8a8;
  }
}

::placeholder {
  color: var(--span);
  font-size: 16px;
}
// typography area end here ***

.border-none {
  border: none !important;
}

.text-justify {
  text-align: justify;
}

.image {
  img {
    width: 100%;
  }
}
.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.transition {
  transition: var(--transition);
}

.overlay {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.nice-select {
  width: 100%;
  border-radius: 10px;
  height: 50px;
  line-height: 50px;

  .list {
    width: 100%;
  }
}

.top-uni-card {
  border: 1px solid $logo-blue;
  padding: 0px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  background: #fff;
  .uni-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
    position: relative;
    overflow: hidden;
    img {
      width: auto;
      height: auto;
      z-index: 9;
      vertical-align: bottom;
      max-width: 100%;
    }
    &::after {
      position: absolute;
      bottom: 0;
      z-index: 0;
      content: url('/assets/images/shape/Mask-group.svg');
    }
  }
  .top-uni-details {
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 458px;
    h3 {
      font-size: 32px;
      font-style: normal;

      line-height: 42px;
      text-align: left;
      font-family: $geller-600;
      color: $logo-blue;
      font-weight: 600;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 0px;
      display: flex;
      flex-direction: row;
      column-gap: 12px;
      margin-top: 16px;
      gap: 12px;
      line-height: 24px;
      img {
        width: 20px;
      }
      span {
        font-family: $dm-font;
        font-weight: bold;
        color: $logo-blue;
      }
    }
    a {
      width: fit-content;
      font-weight: 600;
      border-radius: 12px;
      background: $logo-blue;
      color: #fff;
      display: block;
      height: 56px;
      padding: 15px 24px;
      margin-top: 32px;
      position: relative;
      bottom: 0;
      line-height: 24px;
      text-align: center;
      text-transform: capitalize;
    }
    .event-details {
      display: flex;
      flex-wrap: wrap;
      column-gap: 40px;
      text-transform: capitalize;
    }
    .event-type {
      color: $logo-blue;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      padding: 4px 12px;
      border-radius: 8px;
      border: 1px solid $logo-blue;
      width: fit-content;
      font-family: $dm-font;
    }
  }
}
.view-all-uni {
  text-align: center;
  margin-top: 80px;
  a {
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: $dm-font;
    font-weight: 600;
    padding-top: 15px;
    padding-right: 42px;
    padding-bottom: 15px;
    padding-left: 24px;
    line-height: 24px;
    text-transform: initial;
    margin: auto;
    background: $logo-blue;
    display: inline-block;
    position: relative;
    text-align: center;
    color: $white;
    &::after {
      width: 20px;
      height: 20px;
      margin-top: 2px;
      margin-left: 8px;
      background-image: url('/assets/images/icons/right-arrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: absolute;
      content: '';
    }
  }
}

// Custom class area end here ***
