// Footer area start here ***
footer {
  .footer-main {
    padding: 100px 0;
    margin-bottom: 200px;
    background: #faf7f2;
    .logo-box {
      img {
        max-width: 120px;
      }
    }
    .footer-description {
      margin: 40px 0;
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: normal;
        font-family: $dm-font;
        color: $logo-blue;
      }
    }
  }
}
// Footer area end here ***
