.home-slider-main {
  .swiper {
    width: 100%;
    height: calc(100vh - 136px);

    .swiper-button-prev,
    .swiper-button-next {
      transition: 1s ease-out;
      width: 40px;
      height: 40px;
      background: $logo-golden;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      img {
        max-width: 17px;
      }
    }

    .swiper-button-prev {
      left: -50px;
    }

    .swiper-button-next {
      right: -50px;
    }

    &:hover {
      .swiper-button-prev {
        left: 30px;
      }

      .swiper-button-next {
        right: 30px;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    &::after {
      font-size: 20px;
      color: $white;
      display: none;
    }
  }

  .swiper-slide {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100% !important;
      background:
        linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.47) 100%),
        url() #d3d3d300 50% / cover no-repeat;
    }

    .slide-bg {
      width: 100%;
      height: calc(100vh - 136px);
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center center !important;
    }

    .video-bg {
      width: 100%;
      height: calc(100vh - 136px);
    }

    video {
      width: 100%;
      object-fit: cover;
    }

    .slider-cotentbox {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 1344px;
      transform: translate(-50%, -50%);

      h2 {
        font-size: 80px;
        line-height: 100px;
        font-family: $geller-600;
        font-weight: 600;
        color: $white;
        max-width: 770px;
      }
      .description {
        margin-bottom: 48px;
        margin-top: 48px;
        p {
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          max-width: 770px;
          font-family: $dm-font;
          color: $white;
        }
      }
      a {
        border-width: 1px;
        border-radius: 12px;
        font-size: 18px;
        font-family: $dm-font;
        font-weight: 600;
        padding-top: 15px;
        padding-right: 42px;
        padding-bottom: 15px;
        padding-left: 24px;
        line-height: 24px;
        background: $logo-golden;
        color: $white;
        position: relative;
        &::after {
          width: 20px;
          height: 20px;
          margin-top: 5px;
          margin-left: 8px;
          background: url('/assets/images/icons/right-arrow.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          position: absolute;
          opacity: 1;
          content: '';
        }
      }
    }
  }
}

.course-uni-filter-main {
  padding: 100px 0;
  background: $logo-blue;
  color: $white;
  background-image: url('/assets/images/shape/course-filter-shape.svg');
  background-size: contain;
  background-position: right 0px top;
  background-repeat: no-repeat;

  ul {
    margin-bottom: 20px;
    border: none;
    gap: 24px;
    li {
      button {
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        font-family: $dm-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        border: none;
        background: transparent;
        cursor: pointer;
        border: 1px solid #f8f9fa !important;
        color: $white;
        text-transform: uppercase;
        min-width: 150px;
        border-radius: 12px !important;
        -webkit-border-radius: 12px !important;
        -moz-border-radius: 12px !important;
        -ms-border-radius: 12px !important;
        -o-border-radius: 12px !important;
        @include transition-3s;
        &:hover {
          color: $white;
        }
        &.active {
          color: $logo-blue;
        }
      }
    }
  }
  .tab-content > .active {
    display: block;
    border: 1px solid $logo-golden;
    padding: 0px;
    border-radius: 12px;
  }
  form {
    display: flex;
    flex-direction: row;
    height: 96px;
    background: $logo-blue;
    border-radius: 12px;
  }
  .course-input-group {
    width: 390px;
    padding: 21px 32px;
    border-right: 1px solid #2c3753;
    label {
      display: block;
      margin-bottom: 8px;
      font-family: $dm-font;
      font-size: 16px;
      color: $white;
      font-weight: 400;
      line-height: 24px;
    }
    .select2-container--default {
      .select2-selection--single {
        border: 0 !important;

        .select2-selection__rendered {
          color: $logo-golden;
          font-family: $dm-font;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          padding: 0;
        }
      }
    }

    .select2-container--default {
      .select2-selection--single {
        background-color: transparent;
        border: 0;
        border-radius: 4px;

        .select2-selection__rendered {
          color: $logo-golden;
          font-family: $dm-font;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          padding: 0;
        }
      }
    }
  }
  .course-input-button {
    padding: 8px;
    .course-filter-btn {
      margin-top: 0px;
      width: 140px;
      padding: 0px;
      height: 100%;
      background: $logo-golden;
      border: 0;
      border-radius: 0px 6px 6px 0px;
      cursor: pointer;
    }
  }
}

.why-choose-uk-main {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f8f9fa;
  background-image: url('/assets/images/shape/why-uk.svg');
  background-size: initial;
  background-position: left top 10%;
  background-repeat: no-repeat;

  .title-box {
    text-align: center;
    h2 {
      @include title-64;
    }
  }
  ul {
    margin: 64px 0;
    border: none;
    justify-content: center;
    gap: 16px;
    li {
      button {
        font-size: 18px;
        line-height: 24px;
        overflow: hidden;
        border: 1px solid $logo-blue !important;
        color: $logo-blue;
        padding-top: 10px;
        padding-right: 24px;
        padding-bottom: 10px;
        padding-left: 24px;
        font-family: $dm-font;
        border-radius: 8px 8px 8px 8px !important;
        -webkit-border-radius: 8px 8px 8px 8px !important;
        -moz-border-radius: 8px 8px 8px 8px !important;
        -ms-border-radius: 8px 8px 8px 8px !important;
        -o-border-radius: 8px 8px 8px 8px !important;
        &.active {
          background-color: $logo-blue !important;
          color: $white !important;
        }
        &:hover {
          background-color: $logo-blue !important;
          color: $white !important;
        }
      }
    }
  }
  .why-uk-content-parent {
    padding: 16px;
    border: 1px solid $logo-blue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
    border-radius: 12px;
    position: relative;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    background-image: url('/assets/images/shape/top-uni.svg');
    background-size: initial;
    background-position: right 0px top;
    background-repeat: no-repeat;
    .image-box {
      flex: 1;
      border-radius: 8px;
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
    .content-box {
      flex: 1;
      h3 {
        font-size: 56px;
        line-height: 72px;
        font-weight: 600;
        font-family: $geller-600;
        color: #020f30;
        margin-bottom: 40px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        font-family: $dm-font;
        color: #020f30;
        margin-bottom: 20px;
      }
    }
  }
}

.world-class-main {
  padding-top: 100px;
  padding-bottom: 100px;
  .title-box {
    text-align: center;
    h3 {
      @include title-64;
    }
    p {
      font-size: 18px;
      line-height: 24px;
      margin: 0px auto;
      margin-top: 32px;
      margin-bottom: 80px;
      max-width: 730px;
      font-family: $dm-font;
      font-weight: 400;
    }
  }
  .top-uni-card {
    border: 1px solid $logo-blue;
    padding: 0px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
    .uni-logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      position: relative;
      overflow: hidden;
      img {
        width: auto;
        height: auto;
        z-index: 9;
        vertical-align: bottom;
        max-width: 100%;
      }
      &::after {
        position: absolute;
        bottom: 0;
        z-index: 0;
        content: url('/assets/images/shape/Mask-group.svg');
      }
    }
    .top-uni-details {
      padding: 32px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 458px;
      h3 {
        font-size: 32px;
        font-style: normal;

        line-height: 42px;
        text-align: left;
        font-family: $geller-600;
        color: $logo-blue;
        font-weight: 600;
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        column-gap: 12px;
        margin-top: 16px;
        gap: 12px;
        line-height: 24px;
        img {
          width: 20px;
        }
        span {
          font-family: $dm-font;
          font-weight: bold;
          color: $logo-blue;
        }
      }
      a {
        width: fit-content;
        font-weight: 600;
        border-radius: 12px;
        background: $logo-blue;
        color: #fff;
        display: block;
        height: 56px;
        padding: 15px 24px;
        margin-top: 32px;
        position: relative;
        bottom: 0;
        line-height: 24px;
        text-align: center;
        text-transform: capitalize;
      }
    }
  }
  .view-all-uni {
    text-align: center;
    margin-top: 80px;
    a {
      border: none;
      border-radius: 12px;
      font-size: 18px;
      font-family: $dm-font;
      font-weight: 600;
      padding-top: 15px;
      padding-right: 42px;
      padding-bottom: 15px;
      padding-left: 24px;
      line-height: 24px;
      text-transform: initial;
      margin: auto;
      background: $logo-blue;
      display: inline-block;
      position: relative;
      text-align: center;
      color: $white;
      &::after {
        width: 20px;
        height: 20px;
        margin-top: 2px;
        margin-left: 8px;
        background-image: url('/assets/images/icons/right-arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        content: '';
      }
    }
  }
}

.hear-students-main {
  background: $logo-blue;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 300px;
  .title-box {
    h2 {
      @include title-64;
      color: $white;
      text-align: center;
      span {
        color: $logo-golden;
      }
    }
  }
}
