$dm-font: 'DM Sans', sans-serif;
$geller-300: 'geller_testheadline_light';
$geller-400: 'geller_testheadline_regular';
$geller-500: 'geller_testheadline_medium';
$geller-600: 'geller_testheadline_semibold';
$geller-700: 'geller_testheadline_bold';
$geller-900: 'geller_testheadline_black';
$logo-blue: #012861;
$logo-golden: #b9996a;
$white: #fff;
$black: #000;
